<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <th>Farmer</th>
        <th>Crop</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Farmer's Phone Number</th>
    </tr>
        {%for x in content%}
            <tr>
          <td>{{x.Farmer}}</td>
                <td>{{x.Crop}}</td>
                <td>{{x.Quantity}}</td>
                <td>{{x.Price}}</td>
                <td>{{x.FPhone}}</td>
            </tr>
        {%endfor%}
</table>

</body>
</html>